* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(245, 162, 162);
}
.header {
  text-align: center;
  width: 50%;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 30px;
}
.header * {
  margin-top: 15px;
}
h1 {
  font-size: 3.5rem;
}
input {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

/* Button */
.btn {
  padding: 7px 20px;
  font-size: 1.2rem;
  background-color: grey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.btn-submit {
  color: white;
  background-color: blue;
  margin-right: 10px;
}
.btn-reset {
  color: white;
  background-color: red;
}

  /* List */
ul {
  background-color: #fff;
  width: 50%;
  margin: auto;
  font-size: 1.2rem;
  list-style: none;
}
ul li {
  position: relative;
  padding: 7px;
  font-size: 1.4rem;
  border: 1px solid black;
}


  /* Close Button */
.close {
  width: 20px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
}
.close::after {
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: black;
  transform: rotate(90deg);

}

